<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qxxg.springcloud.platformmbg.mapper.UmsMemberMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.qxxg.springcloud.platformmbg.entity.UmsMember">
                    <id column="id" property="id" jdbcType="bigint(20)"/>
                    <result column="member_level_id" property="memberLevelId" jdbcType="bigint(20)"/>
                    <result column="username" property="username" jdbcType="varchar(64)"/>
                    <result column="password" property="password" jdbcType="varchar(64)"/>
                    <result column="nickname" property="nickname" jdbcType="varchar(64)"/>
                    <result column="phone" property="phone" jdbcType="varchar(64)"/>
                    <result column="status" property="status" jdbcType="int(1)"/>
                    <result column="create_time" property="createTime" jdbcType="datetime"/>
                    <result column="icon" property="icon" jdbcType="varchar(500)"/>
                    <result column="gender" property="gender" jdbcType="int(1)"/>
                    <result column="birthday" property="birthday" jdbcType="date"/>
                    <result column="city" property="city" jdbcType="varchar(64)"/>
                    <result column="job" property="job" jdbcType="varchar(100)"/>
                    <result column="personalized_signature" property="personalizedSignature" jdbcType="varchar(200)"/>
                    <result column="source_type" property="sourceType" jdbcType="int(1)"/>
                    <result column="integration" property="integration" jdbcType="int(11)"/>
                    <result column="growth" property="growth" jdbcType="int(11)"/>
                    <result column="luckey_count" property="luckeyCount" jdbcType="int(11)"/>
                    <result column="history_integration" property="historyIntegration" jdbcType="int(11)"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, member_level_id, username, password, nickname, phone, status, create_time, icon, gender, birthday, city, job, personalized_signature, source_type, integration, growth, luckey_count, history_integration
        </sql>
</mapper>